<style>
    nav {
        border-radius: 250px;
        background-color: #223e6c; 
        height: 60px; 
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px; 
        color: #fff; 
    }
  
 
    nav a {
        color: #fff;
        text-decoration: none;
        margin-right: 20px;
        padding: 10px;
    }
    nav a:hover {
        background-color: #f5f5f5;
        color: #3f51b5;
    }



    .nav-right a + a {
        margin-left: 10px;
    }
</style>

<nav>
  <div class="nav-left">
    <% if (user) { %>
      <a href="/homepage" class="btn btn-info">Your feed</a>
      <a href="/post/create" class="btn btn-info">Create your post here</a>
      <a href="/follow" class="btn btn-info">Follow people here</a> 
      <a href="/profile" class="btn btn-info">Your profile</a>
    <% } else { %>
      <a href="/users/login">Login</a>
    <% } %>
  </div>
  <div class="nav-right">
    <% if (user) { %>
      <a href="/users/logout" class="btn btn-danger">Logout</a>
    <% } else { %>
      <a href="/users/register">Register</a>
    <% } %>
  </div>
</nav>