<%- include ('./partials/nav') %> 
<%- include ('./partials/messages') %> 

<div class="text-center">
    <h1 class="mt-4">Your feed</h1>
    <p>Followers: <%= user.followers.length %></p>  
 </div>
 <%- include ('./partials/posts') %> 